.LotsBlock {
    position:absolute;
    top:35%;
    left:50%;
    z-index:602;
    width:400px;
    background:#efefef;
    border: 1px solid #ccc;
    padding:10px 20px;
    border-radius:10px;
    margin-left:-210px;
    display:none;
}

.ItemsBlock {
    position:absolute;
    top:35%;
    left:50%;
    z-index:603;
    width:400px;
    background:#efefef;
    border: 1px solid #ccc;
    padding:10px 20px;
    border-radius:10px;
    margin-left:-210px;
    display:none;
}

.BasketBlock {
    position:absolute;
    top:35%;
    left:50%;
    z-index:604;
    width:400px;
    background:#efefef;
    border: 1px solid #ccc;
    padding:10px 20px;
    border-radius:10px;
    margin-left:-210px;
    display:none;
}

.ClockBlock {
    position:right;
    top:50%;
    left:50%;
    padding-up: 20px;


}

#footer {
	 text-align : center; 
	 color : black;
	 margin-bottom: 10px; 
	 margin-top: 450px;  
	 padding: 10px;
	 width: 800px;
	 height: 20px;
}